<div class="upper">
  <div class="div"></div>
  <p>Order Online Now - No Delivery Fee</p>
  <div class="logIn">
    <p *ngIf="!isAuthorised()" routerLink="register">Register</p>
    <i class="fa-solid fa-user"></i>
    <p *ngIf="!isAuthorised()" routerLink="login">Log In</p>
    <button *ngIf="isAuthorised()" (click)="logOut()">Log Out</button>
  </div>
</div>

<div class="header">
  <a routerLink="/home">
    <img src="LogoResraurant.png" alt="" />
  </a>

  <nav>
    <ul>
      <li><a routerLink="home" [routerLinkActive]="active">Home</a></li>
      <li><a routerLink="menu" [routerLinkActive]="active">Menu</a></li>
      <li><a (click)="scrollToFooter()">Contact</a></li>
    </ul>
  </nav>

  <div class="cart">
    <p routerLink="/cart">Cart</p>
    <i class="fa-solid fa-cart-shopping"></i>
    <div class="burger" (click)="showHide()">
      <div class="line"></div>
      <div class="line"></div>
      <div class="line"></div>
    </div>
  </div>
</div>

<div class="mobileMenu" *ngIf="showMobile">
  <ul>
    <li><a routerLink="home" (click)="showHide()">Home</a></li>
    <li><a routerLink="menu" (click)="showHide()">Menu</a></li>
    <li><a (click)="scrollToFooter()">Contact</a></li>
  </ul>
</div>
