<main>
    <div class="products">
        <div class="buttons">
            <button class="upper"  *ngFor="let el of categoryArr">{{el.name}}</button>
        </div>
        <div class="filt">
            <div class="filter">
                <div class="spiciness">
                    <label>Spiciness:
                    <input type="number" v-model="spiciness" min="0" max="5" >
                    </label>
                </div>
                <div class="nuts">
                    <input type="checkbox" name="" id="">
                    <label for="">No Nuts</label>
                </div>

                <div class="Vegetarian">
                    <input type="checkbox" name="" id="">
                    <label for="">Vegetarian Only</label>
                </div>

                <div class="buttons">
                    <button>RESET</button>
                    <button>APPLY FILTER</button>
                </div>
                
            </div>
        </div>
        <div class="main">


            <div class="card" *ngFor="let el of productArr">
                <div class="upPart">
                    <img src="{{el.image}}" alt="">
                </div>

                <div class="downPart">
                    <h4>{{el.name}}</h4>
                    <p>Spiciness: {{el.spiciness}} </p>

                    <div class="nutsVeg">
                        <p>nuts: {{el.nuts}}</p>
                        <p>Vegeterian: {{el.vegeterian}}</p>
                    </div>
                

                <div class="priceButton">
                    <h2>{{el.price}}₾</h2>
                    <button>Add to Cart</button>
                </div>
                </div>
            </div>



        </div>
        
    </div>
</main>
