<div class="first">
    <div class="cont">
        <h1>The Real Deal on Asian Food</h1>
        <p>The noodle way serves authentic asian food</p>
    </div>
</div>

<div class="second">
<div class="svgs">
<div class="soups">
    <img src="soups.png" alt="">
    <h2>Soups</h2>
    <p>Our bowls of endless flavors from the east</p>


</div>
<div class="soups">
    <img src="noodles.png" alt="">
    <h2>Noodles</h2>
    <p>The way noodles were meant to be</p>


</div>
<div class="soups">
    <img src="dumplings.png" alt="">
    <h2>Dumplings</h2>
    <p>It’s all about the filling. And the dough</p>


</div>
</div>

<button>Order Now</button>
</div>